NET "sinal_clock" LOC = "E12" | IOSTANDARD = LVCMOS33 | PERIOD = 20.000 ;
NET "sinal_reset" CLOCK_DEDICATED_ROUTE = FALSE;

NET "clock_teclado" LOC = "W12" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ; #conexao com teclado
NET "dados_teclado" LOC = "V11" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;

#coloca o numero nos leds
NET "LEDS<0>" LOC = "R20" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "LEDS<1>" LOC = "T19" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "LEDS<2>" LOC = "U20" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "LEDS<3>" LOC = "U19" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "LEDA" LOC = "W21" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "LEDB" LOC = "Y22" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;


NET "LCD_DB[0]" LOC = Y13;
NET "LCD_DB[1]" LOC = AB18;

NET "LCD_DB[2]" LOC = AB17;
NET "LCD_DB[3]" LOC = AB12;
NET "LCD_DB[4]" LOC = AA12;
NET "LCD_DB[5]" LOC = Y16;
NET "LCD_DB[6]" LOC = AB16;
NET "LCD_DB[7]" LOC = Y15;

NET "OE" LOC = AB4;
NET "RS" LOC = Y14;
NET "RW" LOC = W13;

NET "BOTAO_RST" LOC = "U15" | IOSTANDARD = LVCMOS33 | PULLDOWN;

NET "BOTAOA" LOC = "T14" | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "BOTAOC" LOC = "T15" | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "BOTAOB" LOC = "T16" | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "SW" LOC = "T9" | IOSTANDARD = LVCMOS33;
